<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateProduct</servlet-name>
  	<display-name>CreateProduct</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.CreateProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Product</servlet-name>
  	<display-name>Product</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Beans.Product</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Supplier</servlet-name>
  	<display-name>Supplier</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.Supplier</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CreateProduct</servlet-name>
   	<url-pattern>/CreateProduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Product</servlet-name>
   	<url-pattern>/Product</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Supplier</servlet-name>
   	<url-pattern>/Supplier</url-pattern>
   </servlet-mapping>
</web-app>
